<% include partials/header %>

<div class="container">
	<h1>Landing page</h1>

	<p style="text-transform: uppercase;">welcome to my home page</p>

	<a href="campgrounds" class="btn btn-primary">View all campgrounds</a>
</div>

<% include partials/footer %>